annotated-types==0.7.0
anyio==4.14.1
boto3==1.35.3
botocore==1.35.99
charset-normalizer==3.4.9
click==8.4.2
fastapi==0.115.4
h11==0.16.0
httptools==0.8.0
idna==3.18
jmespath==1.1.0
numpy==2.5.1
pandas==3.0.3
pillow==12.3.0
pydantic==2.10.2
pydantic-settings==2.14.2
pydantic_core==2.27.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.3
reportlab==5.0.0
s3transfer==0.10.4
six==1.17.0
starlette==0.41.3
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
uvicorn==0.32.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.1
