aws_region            = "us-east-1"
environment           = "dev"
project_name          = "CloudOptimizer"
lambda_memory_size    = 512
lambda_timeout        = 30
log_retention_in_days = 30
cron_schedule         = "cron(0 * * * ? *)"
notification_email    = "admin@example.com"

tags = {
  Project     = "CloudOptimizer"
  Environment = "dev"
  ManagedBy   = "Terraform"
  Owner       = "Yash"
}
